@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #0D0D0D;
  color: #EFECE6;
  font-family: 'Raleway', 'Verdana', 'Tahoma' sans-serif;
  text-transform: uppercase; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 500; }

figure {
  margin: 0.3em; }

#intro-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  text-align: center;
  padding-top: 50px; }
  #intro-container:last-child {
    margin-right: 0; }
  #intro-container hr {
    width: 50px;
    background-color: #827354;
    height: 1px;
    border-width: 0; }
  #intro-container .copy {
    padding: 100px 30px; }
  #intro-container p {
    margin-bottom: 30px;
    text-transform: none;
    line-height: 1.4em; }

#gallery-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
  background-color: #1a1a1a; }
  #gallery-container:last-child {
    margin-right: 0; }

figure {
  float: left; }

/*# sourceMappingURL=app.css.map */
