body {
	background-color:#0D0D0D;
	color:#EFECE6;
	font-family: 'Raleway', 'Verdana', 'Tahoma' sans-serif;
	text-transform:uppercase;
}

h1 {
	font-weight:700;
}

h2 {
	font-weight:500;
}

figure {
	margin:0.3em;
}

#main-container {

}

#intro-container {
	@include span-columns(3);
	text-align:center;
	padding-top:50px;

	hr {
		width:50px;
		background-color:darken(#EFECE6, 50%);
		height:1px;
		border-width:0;
	}

	.copy {
		padding:100px 30px;
	}
	p {
		margin-bottom:30px;
		text-transform:none;
		line-height:1.4em;
	}
}

#gallery-container {
	@include span-columns(9);
	@include omega();
	background-color:lighten(#0D0D0D, 5%);
}

figure {
	float:left;
}